.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.vin-header{
position: relative;
height: 200px;
background: #7b9bc1;
padding: 1px 30px;
}
.vin-header .open-btn {
    padding: 10px 25px;
    border: none;
    border-radius: 6px;
    position: relative;
    width: 10%;
    margin-top: 21px;
    float: right;
    background: #000;
    color: #fff;
}
.vin-header h1 {
    width: 30%;
    position: relative;
    float: left;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
